<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>Open River Map</title>
    <style type="text/css">
        html, body, #map {
        height: 100%;
        margin: 0;
        padding: 0;
        }
    </style>
</head>
<body>

<!--script src="/includes/libs/ol.js" type="text/javascript"></script-->
<script src="http://openlayers.org/en/v3.1.1/build/ol.js" type="text/javascript"></script>
<script src="/includes/libs/jquery.min.js" type="text/javascript"></script>
<script src="/includes/libs/closure-library/closure/goog/base.js"></script>

<div id="map" class="map"></div>


<script src="/includes/javascripts/geoJSONRespMock.js" type="text/javascript"></script>
<script src="/includes/javascripts/mappascripts.js" type="text/javascript"></script>




</body>
</html>